// Copyright 2009 The Go Authors. All rights reserved.
// Use of this source code is governed by a BSD-style
// license that can be found in the LICENSE file.
//
// copy this file to ~/Library/Application Support/TextWrangler/Language Modules
// (you may have to create the Language Modules folder)

{
    BBEditDocumentType = "CodelessLanguageModule";
    BBLMColorsSyntax = YES;
    BBLMIsCaseSensitive = YES;
    BBLMKeywordList = (
        Minc,
        CHANS,
        DUR,
        LEFT_PEAK,
        PEAK,
        RIGHT_PEAK,
        SR,
        abs,
        add,
        addgens,
        ampdb,
        boost,
        bus_config,
        control_rate,
        copygen,
        copytable,
        cpsmidi,
        cpsoct,
        cpspch,
        div,
        dumptable,
        dbamp,
        exit,
        f_arg,
        fdump,
        filechans,
        filedur,
        filepeak,
        filesr,
        fplot,
        getamp,
        get_array,
        getpch,
        get_size,
        get_sum,
        get_spray,
        i_arg,
        include,
        index,
        infile,
        invertgen,
        irand,
        len,
        load,
        load_array,
        log,
        makeLFO,
        makeconnection,
        makeconverter,
        makefilter,
        makegen,
        makemonitor,
        maketable,
        makerandom,
        max,
        midipch,
        min,
        mod,
        modtable,
        mul,
        multgens,
        n_arg,
        octcps,
        octpch,
        offsetgen,
        pchcps,
        pchmidi,
        pchoct,
        pickrand,
        pickwrand,
        plottable,
        pow,
        print,
        printf,
        print_off,
        print_on,
        put_array,
        quantizegen,
        rand,
        random,
        reset,
        reversegen,
        round,
        rtinput,
        rtoutput,
        rtsetparams,
        s_arg,
        sampfunc,
        sampfunci,
        samptable,
        scalegen,
        set_option,
        setexp,
        setline,
        setline_size,
        shiftgen,
        spray_init,
        srand,
        str_num,
        stringify,
        sub,
        system,
        tablelen,
        trand,
        translen,
        trunc,
        type,
        wrap,
        AM,
        AMINST,
        BUTTER,
        CLAR,
        COMBIT,
        COMPLIMIT,
        CONVOLVE1,
        DECIMATE,
        DEL1,
        DELAY,
        DISTORT,
        DMOVE,
        DUMP,
        ELL,
        ellset,
        EQ,
        FIR,
        FILTSWEEP,
        FMINST,
        FLANGE,
        FOLLOWER,
        FOLLOWBUTTER,
        FOLLOWGATE,
        FREEVERB,
        GRANSYNTH,
        GRANULATE,
        HOLO,
        IIR,
        setup,
        INPUTSIG,
        NOISE,
        BUZZ,
        PULSE,
        JCHOR,
        JDELAY,
        JFIR,
        JGRAN,
        LPCPLAY,
        dataset,
        lpcstuff,
        set_hnfactor,
        freset,
        setdev,
        setdevfactor,
        set_thresh,
        use_autocorrect,
        LPCIN,
        MBANDEDWG,
        MBLOWBOTL,
        MBLOWHOLE,
        MBOWED,
        MBRASS,
        MCLAR,
        METAFLUTE,
        SFLUTE,
        VSFLUTE,
        BSFLUTE,
        LSFLUTE,
        MIX,
        MMESH2D,
        MMODALBAR,
        MMOVE,
        space,
        set_attenuation_params,
        MPLACE,
        MOCKBEND,
        MOOGVCF,
        MOVE,
        mikes,
        mikes_off,
        path,
        cpath,
        cparam,
        threshold,
        MROOM,
        MSAXOFONY,
        MSHAKERS,
        MSITAR,
        MULTICOMB,
        MULTEQ,
        NOISE,
        NPAN,
        PAN,
        PANECHO,
        PLACE,
        PVOC,
        QPAN,
        REV,
        REVERBIT,
        REVMIX,
        ROOM,
        SCRUB,
        SCULPT,
        SGRANR,
        SHAPE,
        SPECTACLE,
        SPECTACLE2,
        SPECTEQ,
        SPECTEQ2,
        SROOM,
        SPLITTER,
        STEREO,
        STGRANR,
        STRUM,
        START,
        BEND,
        FRET,
        START1,
        VSTART1,
        BEND1,
        FRET1,
        VFRET1,
        STRUM2,
        STRUMFB,
        TRANS,
        TRANS3,
        TRANSBEND,
        TVSPECTACLE,
        VOCODE,
        VOCODE2,
        VOCODESYNTH,
        WAVETABLE,
        WAVESHAPE,
        WAVY,
        WIGGLE,
        convolve,
        denoise,
        gravy,
        mrotate,
        rotate,
        sgran,
        stgran,
        vwavetable,
        wah,
        wahwah,
        wow,
        
        if,
        else,
        for,
        while,
        true,
        false,
        
    );
    BBLMLanguageCode = rtcm;
    "BBLMLanguageDisplayName" = "RTcmix";
    BBLMScansFunctions = YES;
    BBLMSuffixMap = (
        {
            BBLMLanguageSuffix = ".sco";
        },
    );
    "Language Features" = {
        "Close Block Comments" = "*/";
        "Close Parameter Lists" = ")";
        "Close Statement Blocks" = "}";
        "Close Strings 1" = "`";
        "Close Strings 2" = "\"";
        "End-of-line Ends Strings 1" = YES;
        "End-of-line Ends Strings 2" = YES;
        "Escape Char in Strings 1" = "\\";
        "Escape Char in Strings 2" = "\\";
        "Identifier and Keyword Characters" = "0123456789ABCDEFGHIJKLMNOPQRSTUVWXYZ_abcdefghijklmnopqrstuvwxyz";
        "Open Block Comments" = "/*";
        "Open Line Comments" = "//";
        "Open Parameter Lists" = "(";
        "Open Statement Blocks" = "{";
        "Open Strings 1" = "`";
        "Open Strings 2" = "\"";
        "Prefix for Functions" = "func";
        "Prefix for Procedures" = func;
        "Terminator for Prototypes 1" = ";";
        "Terminator for Prototypes 2" = "";
    };
}
